@import url(https://fonts.googleapis.com/css?family=Oswald);

body{
    /*background-color: #6AAFE6;*/
    background: url(../img/fondo.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
}

p{
    margin: 0px;
    font-size: 18px;
    color: #F4F7F7;
}
a{
    float: right;
}

.container{
  position: fixed;
  top: 45%;
  left: 50%;
  width: 710px;
  /* bring your own prefixes */
  transform: translate(-50%, -45%);
}

.leDiv{
  border-style: solid;
  border-width: 9px;
  background-color: rgba(217,25,107,.1);
  border-color: #B20054;
}

#input{
	width: 600px;
	height: 62px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 42px; 
  font-style: italic;
  color: #F4F7F7;
  padding: 6px 0px 6px 20px;
  outline: none;
  background: none;
  border: none;
}
::-webkit-input-placeholder {
   color: #D9E2E1;
}

#statusIcon{
    width: 50px;
    height: 50px;
    float: right;
    margin-top: 12px;
    margin-right: 8px;
}

.estado{ /*este es valor conectado del usuario*/
    float: right;
}
.entrar{ 
    color: #26FF00;
}
.salir{
    color: #FF2400;
}
/*----------*/
.ui-widget-content { /*Propiedades del <ul>*/
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
}




