@import url(https://fonts.googleapis.com/css?family=Oswald);

body{
    /*background-color: #6AAFE6;*/
    background: url("http://i.imgur.com/LZYqIYO.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
}

p{
    margin: 0px;
    font-size: 18px;
    color: #F4F7F7;
}
a{
    float: right;
}

.container{
  position: fixed;
  top: 45%;
  left: 50%;
  width: 730px;
  /* bring your own prefixes */
  transform: translate(-50%, -45%);
}

.leDiv{
  border-style: solid;
  border-width: 9px;
  background-color: rgba(217,25,107,.3);
  border-color: rgba(217,25,107, .7);
}

#input{
	width: 600px;
	height: 62px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 42px; 
  font-style: italic;
  color: #F4F7F7;
  padding: 6px 0px 6px 20px;
  outline: none;
  background: none;
  border: none;
}
::-webkit-input-placeholder {
   color: #D9E2E1;
}

#statusIcon{
    width: 62px;
    height: 62px;
    float: right;
}

.estado{ /*este es valor conectado del usuario*/
    float: right;
}
.entrar{ 
    color: green;
}
.salir{
    color: red;
}
/*----------*/
.ui-widget-content { /*Propiedades del <ul>*/
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}


